<div class="row">
  <div class="col-xs-12 detail-title mt-5">
    <p class="title-style">Shopping List</p>
  </div>
  <form action="">
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="ingredient"></label>
        <input
          type="text"
          class="form-control"
          id="ingredient"
          placeholder="Item"
        />
      </div>
      <div class="col-sm-2 form-group">
        <label for="amount"></label>
        <input
          type="text"
          class="form-control"
          id="amount"
          placeholder="Amount"
        />
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" alt="" class="img-responsive" />
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          
             <button class="btn btn-outline-secondary mx-1" type="submit">Add Item</button>
             <button class="btn btn-dark mx-1" type="button">Delete Item</button>
             <button class="btn btn-outline-dark mx-1" type="button">Clear Form</button>
          
        </div>
      </div>
    </div>
  </form>
</div>
